<div class="container">
<p class="resultsCount">{{listings.length}} results found</p>
<div>
  {{#listings}}
    <div class="listingItem section">
      <div class="col colFortyPct"><img class="listingImage" src="{{image_url}}"/></div>
      <div class="listingMainContent col colFortyPct">
        <h2 class="listingTitle">{{$.title}}</h2>
        <p class="listingPrice">{{$.price}}</p>
        <p class="listingDescription">{{description}}</p>
      </div>
      <div class="col colTwentyPct">
        <div class="listingAgentInfo">
          <img class="listingAgentLogo" src="{{agent_logo}}" />
          <p class="listingAgentName">{{agent_name}}</p>
          <p class="listingAgentAddress">{{$.agentAddress}}</p>
          <p class="listingAgentTelephone">{{$.agentPhone}}</p>
        </div>
      </div>
    </div>
  {{/listings}}
</div>
</div>