<div class="container">
  <h2 class="pageTitle">
  {{#isListingsReady}}Search for houses and flats for sale across the UK{{/isListingsReady}}
  {{^isListingsReady}}No results found{{/isListingsReady}}
  </h2>
  {{^isListingsReady}}
  <p class="errorMessage">Enter another location and search again.</p>
  {{/isListingsReady}}
  <div class="section group">
    <div class="col colSeventyPct"><input type="text" id="input" class="searchInput" value=""/></div>
    <div class="col colThirtyPct"><input type="submit" id="submit" class="searchSubmit" value="Search"/></div>
  </div>
</div>